:root {
  /* FaceBook Color */
  /* --primary: #3b5998; */
  /* Dantastic Color */
  /* --primary: #368dcc; */
  --primary: #6239d3;
  --secodary: #db5b7f;
  --third: #d11d14;

  --fourth: #373e51;
  --fifth: #fbed50;
  /* --text: #b9b9b9; */
  --text: #7a7a7a;
  --swiper-pagination-color: #ffffff;
  --swiper-pagination-bullet-inactive-color: #b6b6b6;
  --swiper-navigation-color: #fff;
  --borderColor: #000;
}

html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

main {
  min-height: 80vh;
  /* overflow: hidden;
  padding: 1.5rem; */
  margin: 5vh 5vw;
  margin-top: calc(5vh + 65px);
}

a {
  color: unset !important;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

#app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* SWIPER */
.swiper-slide a img {
  width: 100% !important;
}
.swiper {
  width: 100%;
  height: 100%;
}

/* 
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-background {
  width: 100%;
  min-height: 80vh;
  background: url("./asset/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  width: 80%;
  max-width: 480px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.info-container img {
  width: 180px;
  height: 150px;
  margin-top: 30px;
}

.info-data {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  /* line-height: 87px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4em;
  background: linear-gradient(
    to bottom right,
    #6239d3 20%,
    #db5b7f 50%,
    #d11d14 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  margin-left: 15px;
}

.info-giorno {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 0.55em;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: 5px;
}

.info-address {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #020202;
  padding: 20px 50px;
  background-color: #fff;
}

.info-price {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
}
.info-contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info-contact-container > * {
  margin: 10px;
  margin-bottom: 30px;
}

/* ABOUT  */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 50px;
}

.events-image-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-left {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.about-left h1 {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  justify-self: center;
  color: #333333;
  text-align: right;
}

.img-container {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 500px;
}
.about-left:nth-child(2) .img-container {
  min-height: 423px !important;
}
.about-date {
  width: 200px;
  height: 180px;
  background-color: #fff;
  margin: 20px;
  position: relative;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.about-left:nth-child(2) .about-date {
  position: absolute;
  margin: 20px;
  right: 35px;
  margin-top: 219px;
}

@media screen and (max-width: 567px) {
  .about-left:nth-child(2) .about-date {
    right: 24px;
  }
}

.about-date-title {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}

.about-date-day-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.about-day-date {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  background: linear-gradient(20deg, #6239d3 20%, #db5b7f 50%, #d11d14 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 10px;
  /* text-shadow: 0px 0px #00000000; */
  display: block;
}
.about-month-date {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;

  color: #000000;
}

.about-address {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #666666;
}

.description {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25x;
  color: #666666;
  margin: 20px 0;
  text-align: left;
}
.about-container .button-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media screen and (max-width: 620px) {
  .events-image-container {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
    flex-direction: column;
  }
  .about-left h1 {
    text-align: center;
  }
  .description {
    text-align: center;
  }
  .about-container .button-container {
    justify-content: center;
  }
}
/* BUTTONS */

.primaryButton {
  border: none;

  background-color: #000;
  padding: 10px 20px;
  margin-right: 10px;
}
.primaryButton span {
  background: linear-gradient(
    to bottom right,
    #6239d3 20%,
    #db5b7f 50%,
    #d11d14 90%
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin-left: 5px;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.primaryButton .button-icon {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6239d3;
  margin-top: -2px;
}

.secondaryButton {
  border: none;
  background-color: white;
  padding: 10px 25px;
}
.secondaryButton span {
  background: linear-gradient(
    to bottom right,
    #6239d3 20%,
    #db5b7f 50%,
    #d11d14 90%
  ) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin-left: 10px;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.secondaryButton .button-icon {
  color: #6239d3;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: -2px;
}
.module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  align-self: center;
}

.thirdButton {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--third);
  background: var(--secondary);
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.thirdButton .button-icon {
  color: var(--third);
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: -2px;
}
.fourthButton {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background-color: transparent;
  padding: 10px 25px;
  margin-right: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.fourthButton .button-icon {
  color: var(--secondary);
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-top: -2px;
  margin-right: 5px;
}

/* Shop Preview */
.shop-preview-container {
  margin: 10px 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shopPreview-product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: center;
  margin: 0 1.5rem;
}
/* .shopPreview-product-container * {
  flex: 30% 0;
} */
/* @media screen and (max-width: 550px) {
  .shopPreview-product-container {
    margin: 0 1rem;
  }
  .shopPreview-product-container > * {
    flex: 90% 0;
  }
}
@media screen and (min-width: 550px) {
  .shopPreview-product-container {
    margin: 0 2rem;
  }
  .shopPreview-product-container > * {
    flex: 45% 0;
  }
}
@media screen and (min-width: 1200px) {
  .shopPreview-product-container > * {
    flex: 30% 0;
  }
} */

.prodotto {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none !important;
  padding: 0 !important;
  margin: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  flex: 1 0 30% !important;
  background-color: rgb(244, 242, 244);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* LINK TO SHOP */

.link-container.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin-top: 50px;
}

.link-left,
.link-right {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 620px) {
  .link-container.reverse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }

  .link-left,
  .link-right {
    width: 100%;
    flex-direction: column;
  }
}

.link-left h1 {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  justify-self: center;
  color: #333333;
  text-align: center;
}

.img-container.contain {
  background-size: contain !important;
}
.link-right .img-container {
  min-height: 434px !important;
}
.link-date {
  width: 200px;
  background-color: #fff;
  margin: 20px;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link-date-title {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #333333;
}

.link-date-day-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.link-day-date {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: var(--secondary);
  /* background: linear-gradient(
    to bottom right,
    #6239d3 20%,
    #db5b7f 50%,
    #d11d14 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-right: 10px;
}
.link-month-date {
  font-family: "Big Shoulders Display";
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;

  color: #000000;
}

.link-address {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;

  color: #666666;
}

.link-container .description {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25x;
  color: #666666;
  margin: 10px 0;
}
.link-container .button-container {
  display: flex;
  flex-direction: row;
}

/* EVENT */

.fotoEventi {
  margin: 50px 1.5rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.eventi-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row !important;
  justify-content: center;
  margin: 0 1.5rem;
}

@media screen and (max-width: 550px) {
  .eventi-container > * {
    flex: 90% 0;
  }
}
@media screen and (min-width: 550px) {
  .eventi-container > * {
    flex: 45% 0;
  }
}
@media screen and (min-width: 1200px) {
  .eventi-container > * {
    flex: 30% 0;
  }
}

.event {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.event-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 250px;
  padding: 10px;
}
.event-date {
  background-color: #fff;
  height: 45px;
  width: 150px;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  justify-content: center;
}
.date-contenitor {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.event-date span {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin: 0 5px;

  color: #7041ea;
}
.event-info {
  text-align: center;
  padding: 20px;
  padding-top: 0;
}

.event-address {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  margin-top: 30px;
}
.event-address span {
  margin-left: 5px;
  /* margin-top: 5px; */
}

.event-title {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 10px;
}

.colored-text {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  background: linear-gradient(
    137.32deg,
    #6239d3 17.3%,
    #db5b7f 48.78%,
    #d11d14 78.34%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* SOCIAL */

.social-title {
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 71px;
  text-align: center;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.social-icon-container {
  font-size: 30px;
  align-self: center;
}

.social-icon-container > * {
  margin: 10px;
}

/* FOOTER */

/* NEON TEXT */

/* .logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-align: center;
} */

.neonText {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px black) {
  .neonText {
    -webkit-text-stroke: 1px white;
    -webkit-text-fill-color: transparent;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-size: 6.2rem;
  border-radius: 2rem;
  padding: 0.4em;
}
@media screen and (max-width: 540px) {
  .logo span {
    font-size: 4.2rem;
    border-radius: 2rem;
    padding: 1em;
  }
}
@media screen and (min-width: 913px) {
  .logo span {
    padding: 2em 0em;
  }
}
@media screen and (min-width: 1357px) {
  .logo span {
    padding: 3em 0em;
  }
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

/* DISCO LIGHT EFFECT  */

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  text-align: center;
  /* height: 100vh;
  width: 100vw; */
  position: relative;
}

.disco-body {
  -webkit-perspective: 500px;
  perspective: 500px;
  background: black;
  position: relative;
}

.moving-shadow {
  color: black;
  width: 420px;
  height: 250px;
  font-family: "Oswald", sans-serif;
  font-size: 9em;
  line-height: 1;
  margin: 0;
  padding: 0;

  -webkit-transform: rotateX(25deg) rotateY(20deg) rotateZ(-3deg);
  transform: rotateX(25deg) rotateY(20deg) rotateZ(-3deg);

  position: relative;
  /* margin-left: -180px; */
  -webkit-animation: anim 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation: anim 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes anim {
  0% {
    text-shadow: -6px 4px 0px red;
  }
  10% {
    text-shadow: 4px -6px 0px green;
  }
  20% {
    text-shadow: -9px 4px 0px blue;
  }
  30% {
    text-shadow: 4px -6px 0px yellow;
  }
  40% {
    text-shadow: -8px 4px 0px orange;
  }
  50% {
    text-shadow: 4px 5px 0px purple;
  }
  60% {
    text-shadow: -6px 4px 0px brown;
  }
  70% {
    text-shadow: 4px 7px 0px pink;
  }
  80% {
    text-shadow: -9px -4px 0px lime;
  }
  90% {
    text-shadow: 4px -6px 0px cyan;
  }
  100% {
    text-shadow: -9px 4px 0px teal;
  }
}

@keyframes anim {
  0% {
    text-shadow: -6px 4px 0px red;
  }
  10% {
    text-shadow: 4px -6px 0px green;
  }
  20% {
    text-shadow: -9px 4px 0px blue;
  }
  30% {
    text-shadow: 4px -6px 0px yellow;
  }
  40% {
    text-shadow: -8px 4px 0px orange;
  }
  50% {
    text-shadow: 4px 5px 0px purple;
  }
  60% {
    text-shadow: -6px 4px 0px brown;
  }
  70% {
    text-shadow: 4px 7px 0px pink;
  }
  80% {
    text-shadow: -9px -4px 0px lime;
  }
  90% {
    text-shadow: 4px -6px 0px cyan;
  }
  100% {
    text-shadow: -9px 4px 0px teal;
  }
}

.navbar {
  background-color: black;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.react-icons {
  vertical-align: middle;
  line-height: 1;
}

a {
  text-decoration: none !important;
}
.bottone {
  position: relative;
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid var(--borderColor);
  cursor: pointer;
  color: var(--fourth);
  text-decoration: none !important;
}
.bottone.primario {
  background-color: transparent;
  /* color: var(--swiper-navigation-color); */
}
.bottone::before,
div::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  transition: 0.3s ease-in-out;
}
.bottone::before {
  top: -5px;
  left: -5px;
  border-top: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
}
.bottone::after {
  right: -5px;
  bottom: -5px;
  border-bottom: 1px solid var(--borderColor);
  border-right: 1px solid var(--borderColor);
}
.bottone:hover::before,
.bottone:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}

.card-img,
.card-img-top {
  height: 100% !important;
  object-fit: cover !important;
  margin-bottom: -90px;
  z-index: 1;
}
.card-img {
  object-fit: cover !important;
}

.video-container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video-container video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.text-box {
  position: absolute;
  top: 0px;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 900;
  mix-blend-mode: multiply !important;
  text-align: center;
}

.text-box span {
  font-size: 6.2rem;
  border-radius: 2rem;
  padding: 0.4em;
}

@media screen and (max-width: 540px) {
  .text-box span {
    font-size: 4.2rem;
    border-radius: 2rem;
    padding: 1em;
  }
}
@media screen and (max-width: 425px) {
  .text-box span {
    font-size: 3.2rem;
    border-radius: 2rem;
    padding: 1em;
  }
}
@media screen and (min-width: 913px) {
  .text-box span {
    padding: 2em 1em;
  }
}
@media screen and (min-width: 1357px) {
  .text-box span {
    padding: 3em 1em;
  }
}

@media screen and (max-width: 415px) {
  .logo-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  .logo-text {
    font-size: 12px;
  }
}

.swiper-shop {
  /* width: 100vw; */
  height: 75vh !important;
  margin-top: 56px;
}

@media screen and (min-width: 1200px) {
  .swiper-shop {
    margin-top: 64px;
  }
}

.swiper-slide-background {
  height: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.opaco {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1rem;
  padding: 0 1rem 2rem 1rem;
}
.opaco h2 {
  color: #fff;
  font-size: 1.3rem;
}
.product-button {
  width: 100%;
  background-color: #000;
  border: none;
}

.filter-sections {
  border: 2px solid black;
}
.filter-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filter-sections label {
  width: 100%;
  text-align: center;
}
.filter-section span {
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 470px) {
  .row {
    --bs-gutter-x: 0rem !important;
  }
}

.category {
  display: flex;
  border-radius: 0px 0.25rem 0.25rem 0px;
  min-height: 1.5rem;
  width: fit-content;
  padding: 0.25rem 1rem;
  background-color: rgb(0, 0, 0);
  font-size: 0.625rem;
  line-height: 1rem;
  align-self: baseline;
  margin-left: -16px;
  color: #fff;
}

.offcanvasHeight {
  --bs-offcanvas-height: unset !important;
}

/* SWITCH.js */

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}
